.iconWrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;

  .iconBtnWrapper {
    text-transform: uppercase;
    background-color: var(--color-accent);
    color: var(--color-accent-foreground) !important;
    padding: 0.8vw 1.5vw;
    padding: 10px;
    font-size: 12px;
    border-radius: 50%;
    border: none;

    .iconStyles {
      color: black;
    }

    &:hover {
      cursor: pointer;
      border-color: var(--color-primary);
      color: var(--color-primary);
      background-color: #c9ab7a;

      .iconStyles {
        color: white;
      }
    }
  }
}
